- name: setup Mongo DB
  ansible.builtin.copy:
    src: mongo.repo
    dest: /etc/yum.repos.d/mongodb.repo


# yum install -y mongodb-org
# systemctl enable mongod
# systemctl start mongod

- name: Install Mongo DB
  ansible.builtin.yum:
    name: mongodb-org
    state: installed

- name: Replace old hostname with new hostname (requires Ansible >= 2.4)
  ansible.builtin.replace:
    path: /etc/mongod.conf
    regexp: '127.0.0.1'
    replace: '0.0.0.0'

- name: restart Mongo DB
  ansible.builtin.systemd:
    name: mongod
    state: started
    enabled: yes

- name: extract and load frontend
  ansible.builtin.include_role:
    name: common
    tasks_from: download

- name: load catalogue sechma in mongodb
  community.mongodb.mongodb_shell:
    file: "/tmp/mongodb-main/{{item}}.js"
    idempotent: yes
  loop:
    - catalogue
    - user