- name: setup nodejs
  ansible.builtin.shell: curl --silent --location https://rpm.nodesource.com/setup_16.x | bash -


- name: Install NodeJS
  ansible.builtin.yum:
    name:
       - nodejs
       - gcc-c++
    state: installed





