- name: Configure YUM repos.
  ansible.builtin.shell: curl -fsSL https://rpm.nodesource.com/setup_lts.x | bash -



- name: Install NodeJS
  ansible.builtin.yum:
    name:
      - nodejs
      -  gcc-c++.x86_64
    state: installed

- name: Setup App USer, Download and Extract {{COMPONENT}} Content
  ansible.builtin.include_role:
    name: common
    tasks_from: download
  vars:
    APP_LOCATION: "/home/roboshop/{{COMPONENT}}"
    APP_USER: roboshop


- name: Add roboshop App {{COMPONENT}}
  ansible.builtin.user:
    name: roboshop
    comment: roboshop Application {{COMPONENT}}

- name: cleanup the content
  ansible.builtin.file:
    path: /home/roboshop/{{COMPONENT}}
    state: absent

- name: copy app content
  ansible.builtin.copy:
    src: /tmp/{{COMPONENT}}-main/
    dest: /home/roboshop/{{COMPONENT}}/
    remote_src: yes
  become_user: roboshop

- name: install NodeJs Dependencies
  become_user: roboshop
  community.general.npm:
    path: /home/roboshop/{{COMPONENT}}


- name: copy systemd file
  ansible.builtin.copy:
    src: systemd.service
    dest: /etc/systemd/system/{{COMPONENT}}.service

- name: start {{COMPONENT}} service
  ansible.builtin.systemd:
    name: "{{COMPONENT}}"
    state: restarted
    enabled: yes
    daemon-reload: yes
