- name: Configure YUM repos.
  ansible.builtin.shell: curl -sL https://rpm.nodesource.com/setup_lts.x | bash

- name: nodejs install
  ansible.builtin.shell: yum install nodejs gcc-c++ -y
  args:
    chdir: /home/roboshop/{{COMPONENT}}




#- name: nodejs install.
#  become: yes
#  ansible.builtin.yum:
#    name:
#      - nodejs
#      - gcc-c++
#    state: installed
#    skip_broken: yes


- name: Add roboshop App {{COMPONENT}}
  ansible.builtin.user:
    name: roboshop
    comment: roboshop Application {{COMPONENT}}

- name: download and extract {{COMPONENT}} content
  ansible.builtin.include_role:
    name: common
    tasks_from: download

- name: cleanup the content
  ansible.builtin.file:
    path: /home/roboshop/{{COMPONENT}}
    state: absent

- name: copy app content
  ansible.builtin.copy:
    src: /tmp/{{COMPONENT}}-main/
    dest: /home/roboshop/{{COMPONENT}}/
    remote_src: yes
  become_user: roboshop

- name: Install NodeJS Dependencies
  become_user: roboshop
  community.general.npm:
    path: /home/roboshop/{{COMPONENT}}

  ignore_errors: true

 # skip_broken: yes

- name: copy systemd file
  ansible.builtin.copy:
    src: systemd.service
    dest: /etc/systemd/system/{{COMPONENT}}.service

- name: start {{COMPONENT}} service
  ansible.builtin.systemd:
    name: "{{COMPONENT}}"
    state: restarted
    enabled: yes
    daemon-reload: yes
