---
- name: configure yum repo
  ansible.builtin.shell: curl -fSsL https://rpm.nodesource.com/setup_lts.x | bash -

- name: Install nodejs
  ansible.builtin.yum:
    name:
      - nodejs
      - gcc-c++
    state: installed

- name: Add RobShop App USer
  ansible.builtin.user:
    name: roboshop
    comment: RoboShop Application User

- name: cleanup the content
  ansible.builtin.file:
    path: /home/roboshop/{{COMPONENT}}
    state: absent

- name: copy app content
  ansible.builtin.copy:
    src: /tmp/{{COMPONENT}}-main/
    dest: /home/roboshop/{{COMPONENT}}/
    remote_src: yes
  become_user: roboshop

- name: install NodeJs Dependencies
  become_user: roboshop
  community.general.npm:
    path: /home/roboshop/{{COMPONENT}}


- name: copy systemd file
  ansible.builtin.copy:
    src: systemd.service
    dest: /etc/systemd/system/{{COMPONENT}}.service

- name: start {{COMPONENT}} service
  ansible.builtin.systemd:
    name: "{COMPONENT}}"
    state: restarted
    enabled: yes
    daemon-reload: yes
